<!doctype html>
<!-- import menu_widget from macro -->
    {% import 'pfs_menu_widget.html' as menu_widget %}

<html>
<head>
  <title>PFS - Create Templates</title>
<style>
h1 {
    border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
}
table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    vertical-align: bottom;
}
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}
</style>
<h1>PFS - Create Templates</h1>

{{ menu_widget.display_menu() }}

</head>

<body>

  <ul>
    <li><a href="/client_details_select?cid=3&start_date=default&end_date=default">Client Details(back)</a></li>
  </ul>

<h2>Edit Template(s)</h2>
{% set phq9_counter = [] %}
{% set custom_counter = [] %}

{% for template in templates %}
    {% if template.phq9 == True %}
        {% if phq9_counter.append('1') %}{% endif %}
    {% else %}
        {% if custom_counter.append('1') %}{% endif %}

    {% endif %}
{% endfor %}
<br>
After for loop<br>
phq9_counter = {{ phq9_counter|length }}<br>
custom_counter = {{ custom_counter|length }}<br>

    {% if templates|length == 0 %}
       There are currently no templates defined for the client<br>
<p>
       <STRONG>Create PHQ-9 Survey Template</STRONG> : (select choice save)
       <INPUT TYPE="radio" NAME="PHQ-9" VALUE="y">Create
       <INPUT TYPE="radio" NAME="PHQ-9" VALUE="n" checked>Do not create
<br>
       <STRONG>Create Custom Survey Template</STRONG>: (select choice save)
       <INPUT TYPE="radio" NAME="Custom" VALUE="y">Create
       <INPUT TYPE="radio" NAME="Custom" VALUE="n" checked>Do not create
</p>

    {% else %}
        <ul>
            {% for template_id in templates %}
                <li><a href="/view_edit_template/{{ template_id }}">View/Edit Template</a></li>
            {% endfor %}
        </ul>
    {% endif %}


<form action="/create_templates/" method="POST">
  <input name="template" type="hidden" value="test">


  <input type="submit" name="action" value="Save Answer">
</form>


</body>
</html>
